<header>
    <h1>Oba sheet music</h1>
        <nav>
        <ul>
            <li><a href="">Saved Sheets(3)</a></li>
            <li><a href="">Playlists</a></li>
            <li><a href="">Search Sheets</a></li>
        </ul>
    </nav>
    <form action="/search" method="post">
        <input type="text" name="value" id="value" >
        <button class="submitButton" type="submit">Verstuur je antwoord</button>
    </form>

</header>